<%= form_tag invite_path, method: :create, class: "form-inline" do %>
  <div class="form-group search-field">
    <%= text_field_tag(:github_handle) %>
    <%= submit_tag "Send Invite", class: "btn btn-primary" %>
  </div>
<% end %>
