---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?visibility=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<GITHUB_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1585196388'
      Etag:
      - W/"525181ba6ea9dd5314c15edb6753814a"
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?visibility=all&page=2>; rel="next", <https://api.github.com/user/repos?visibility=all&page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":225730178,"node_id":"MDEwOlJlcG9zaXRvcnkyMjU3MzAxNzg=","name":"battleship","full_name":"adumortier/battleship","private":false,"owner":{"login":"adumortier","id":42797894,"node_id":"MDQ6VXNlcjQyNzk3ODk0","avatar_url":"https://avatars2.githubusercontent.com/u/42797894?v=4","gravatar_id":"","url":"https://api.github.com/users/adumortier","html_url":"https://github.com/adumortier","followers_url":"https://api.github.com/users/adumortier/followers","following_url":"https://api.github.com/users/adumortier/following{/other_user}","gists_url":"https://api.github.com/users/adumortier/gists{/gist_id}","starred_url":"https://api.github.com/users/adumortier/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/adumortier/subscriptions","organizations_url":"https://api.github.com/users/adumortier/orgs","repos_url":"https://api.github.com/users/adumortier/repos","events_url":"https://api.github.com/users/adumortier/events{/privacy}","received_events_url":"https://api.github.com/users/adumortier/received_events","type":"User","site_admin":false},"html_url":"https://github.com/adumortier/battleship","description":null,"fork":false,"url":"https://api.github.com/repos/adumortier/battleship","forks_url":"https://api.github.com/repos/adumortier/battleship/forks","keys_url":"https://api.github.com/repos/adumortier/battleship/keys{/key_id}","collaborators_url":"https://api.github.com/repos/adumortier/battleship/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/adumortier/battleship/teams","hooks_url":"https://api.github.com/repos/adumortier/battleship/hooks","issue_events_url":"https://api.github.com/repos/adumortier/battleship/issues/events{/number}","events_url":"https://api.github.com/repos/adumortier/battleship/events","assignees_url":"https://api.github.com/repos/adumortier/battleship/assignees{/user}","branches_url":"https://api.github.com/repos/adumortier/battleship/branches{/branch}","tags_url":"https://api.github.com/repos/adumortier/battleship/tags","blobs_url":"https://api.github.com/repos/adumortier/battleship/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/adumortier/battleship/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/adumortier/battleship/git/refs{/sha}","trees_url":"https://api.github.com/repos/adumortier/battleship/git/trees{/sha}","statuses_url":"https://api.github.com/repos/adumortier/battleship/statuses/{sha}","languages_url":"https://api.github.com/repos/adumortier/battleship/languages","stargazers_url":"https://api.github.com/repos/adumortier/battleship/stargazers","contributors_url":"https://api.github.com/repos/adumortier/battleship/contributors","subscribers_url":"https://api.github.com/repos/adumortier/battleship/subscribers","subscription_url":"https://api.github.com/repos/adumortier/battleship/subscription","commits_url":"https://api.github.com/repos/adumortier/battleship/commits{/sha}","git_commits_url":"https://api.github.com/repos/adumortier/battleship/git/commits{/sha}","comments_url":"https://api.github.com/repos/adumortier/battleship/comments{/number}","issue_comment_url":"https://api.github.com/repos/adumortier/battleship/issues/comments{/number}","contents_url":"https://api.github.com/repos/adumortier/battleship/contents/{+path}","compare_url":"https://api.github.com/repos/adumortier/battleship/compare/{base}...{head}","merges_url":"https://api.github.com/repos/adumortier/battleship/merges","archive_url":"https://api.github.com/repos/adumortier/battleship/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/adumortier/battleship/downloads","issues_url":"https://api.github.com/repos/adumortier/battleship/issues{/number}","pulls_url":"https://api.github.com/repos/adumortier/battleship/pulls{/number}","milestones_url":"https://api.github.com/repos/adumortier/battleship/milestones{/number}","notifications_url":"https://api.github.com/repos/adumortier/battleship/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/adumortier/battleship/labels{/name}","releases_url":"https://api.github.com/repos/adumortier/battleship/releases{/id}","deployments_url":"https://api.github.com/repos/adumortier/battleship/deployments","created_at":"2019-12-03T22:32:02Z","updated_at":"2019-12-12T05:23:17Z","pushed_at":"2019-12-12T05:23:14Z","git_url":"git://github.com/adumortier/battleship.git","ssh_url":"git@github.com:adumortier/battleship.git","clone_url":"https://github.com/adumortier/battleship.git","svn_url":"https://github.com/adumortier/battleship","homepage":null,"size":48,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":241479132,"node_id":"MDEwOlJlcG9zaXRvcnkyNDE0NzkxMzI=","name":"monster_shop_1911","full_name":"DavidHoltkamp1/monster_shop_1911","private":false,"owner":{"login":"DavidHoltkamp1","id":54868358,"node_id":"MDQ6VXNlcjU0ODY4MzU4","avatar_url":"https://avatars2.githubusercontent.com/u/54868358?v=4","gravatar_id":"","url":"https://api.github.com/users/DavidHoltkamp1","html_url":"https://github.com/DavidHoltkamp1","followers_url":"https://api.github.com/users/DavidHoltkamp1/followers","fol[...]
